
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div class="row">
    <div class="col-lg-8">
        <!--timeline start-->
        <section class="panel">
            <div class="panel-body">
                <div class="text-center mbot30">
                    <h3 class="timeline-title">Timeline</h3>
                    <p class="t-info">This is a project timeline</p>
                </div>

                <div class="timeline">
                    <article class="timeline-item">
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow"></span>
                                    <span class="timeline-icon red"></span>
                                    
                                    <h1 class="red">8 Mart Dünya Kadınlar Günü</h1>
                                    <p>Bizim için daima değerli olan siz kadınlar, dünya kadınlar gününüz kutlu olsun.</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item alt">
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon green"></span>
                                    <span class="timeline-date">Başlangıç: 01.03.2018 Bitiş: 31.03.2018</span>
                                    <h1 class="green">Mart Ayı İndirim Yağmurları</h1>
                                    <p><a href="#">Lenovo</a> ürünlerinde Mart ayı özel fırsatları</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow"></span>
                                    <span class="timeline-icon blue"></span>
                                    <span class="timeline-date">11:35 am</span>
                                    <h1 class="blue">05 July | Monday</h1>
                                    <p><a href="#">Anjelina Joli</a> added new album <span><a href="#" class="blue">PARTY TIME</a></span></p>
                                    <div class="album">
                                        <a href="#" >
                                            <img alt="" src="img/sm-img-1.jpg">
                                        </a>
                                        <a href="#">
                                            <img alt="" src="img/sm-img-2.jpg">
                                        </a>
                                        <a href="#">
                                            <img alt="" src="img/sm-img-3.jpg">
                                        </a>
                                        <a href="#">
                                            <img alt="" src="img/sm-img-1.jpg">
                                        </a>
                                        <a href="#">
                                            <img alt="" src="img/sm-img-2.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item alt">
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon purple"></span>
                                    <span class="timeline-date">3:20 pm</span>
                                    <h1 class="purple">29 June | Saturday</h1>
                                    <p>Lorem ipsum dolor sit amet consiquest dio</p>
                                    <div class="notification">
                                        <i class=" icon-exclamation-sign"></i> New task added for <a href="#">Denial Collins</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-item">
                        <div class="timeline-desk">
                            <div class="panel">
                                <div class="panel-body">
                                    <span class="arrow"></span>
                                    <span class="timeline-icon light-green"></span>
                                    <span class="timeline-date">07:49 pm</span>
                                    <h1 class="light-green">10 June | Friday</h1>
                                    <p><a href="#">Jonatha Smith</a> added new milestone <span><a href="#" class="light-green">prank</a></span> Lorem ipsum dolor sit amet consiquest dio</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="clearfix">&nbsp;</div>
            </div>
        </section>
        <!--timeline end-->
    </div>
    <div class="col-lg-4">
        <!--revenue start-->
        <section class="panel">
            <div class="revenue-head">
                <span>
                    <i class="icon-bar-chart"></i>
                </span>
                <h3>Revenue</h3>
                <span class="rev-combo pull-right">
                    June 2013
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="easy-pie-chart">
                            <div class="percentage" data-percent="35"><span>35</span>%</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="chart-info chart-position">
                            <span class="increase"></span>
                            <span>Revenue Increase</span>
                        </div>
                        <div class="chart-info">
                            <span class="decrease"></span>
                            <span>Revenue Decrease</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer revenue-foot">
                <ul>
                    <li class="first active">
                        <a href="javascript:;">
                            <i class="icon-bullseye"></i>
                            Graphical
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class=" icon-th-large"></i>
                            Tabular
                        </a>
                    </li>
                    <li class="last">
                        <a href="javascript:;">
                            <i class=" icon-align-justify"></i>
                            Listing
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!--revenue end-->
        <!--features carousel start-->
        <section class="panel">
            <div class="flat-carousal">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <h1>Kadınlar Gününe Özel İndirimli Ürünleri Kaçırma!</h1>
                        <div class="text-center">
                            <a href="javascript:;" class="view-all">Görüntüle</a>
                        </div>
                    </div>
                    <div class="item">
                        <h1>En Çok Satılanlar</h1>
                        <div class="text-center">
                            <a href="javascript:;" class="view-all">Görüntüle</a>
                        </div>
                    </div>
                    <div class="item">
                        <h1>Nisan Ayı İndirime Girecek Ürünler</h1>
                        <div class="text-center">
                            <a href="javascript:;" class="view-all">Görüntüle</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!--features carousel end-->
    </div>
</div>
