
@{
    ViewBag.Title = "Markalar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model  IEnumerable<StrongTicaret.Web.UI.Models.Marka>

<section class="panel">
    <header class="panel-heading">
        
    </header>
    <br />    <br />
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <div class="clearfix">
                <div class="btn-group">

                    <a href="/Admin/MarkaEkle" class="btn btn-success">

                        Ürün Markası Oluştur <i class="icon-plus"></i>
                    </a>


                </div>
                <br />
                <br />
                <div class="btn-group pull-right">

                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
            </div>
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Marka Adı</th>
                        <th>Açıklama</th>
                        <th>Resmi Göster</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="">
                            <td>@item.Adi</td>
                            <td>@item.Aciklama</td>


                            @if (item.Resim != null)
                            {
                                <td>
                                    <a class="fancybox" href="@item.Resim.OrtaYol">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                </td>
                            }


                            <td>
                                <a class="edit" href="/Admin/MarkaGuncelle/@item.Id">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a class="delete" href="/Admin/MarkaSil/@item.Id">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</section>
